@import "./actiontext.scss";

.own-container{
	border: solid 1px black;
	margin: 20px;
    padding:30px;
}
.meta-inf{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.attachment{
	display:flex;
	justify-content: space-between;
}

.attachment img{
	
display:flex;
justify-content: space-between;
}
.own-row span{
margin:5px;
	
}
 
.paginates{
	display:flex;
}
.paginates li{
	margin: 10px;
}
.paginates .active a{
	color: #000;
}
.divider{
	height:20px;
}
.add-button{
	position:absolute;
	top: 100px;
	right:3%;

}
.add-button a{
	font-size:20pt;
}
.my-navbar {
	color: white;
}
.dark{
	background-color: black; 
}
.form{
	margin: 30px auto;
	width:fit-content;
}
.text-area {
	display: flex;
}
.text-area input{
	width: 800px;
	height: 50px;
	border-radius:25px;
	background: #C4C4C4;
	border: 0px;
	padding-left: 30px;


}
.submit-btn input {
	background: url('app/app/images/search.png');
	width:26px;
	height:26px;
	
}
.submit-btn input {
margin-top:20px;
padding:0;
    position: relative;
    
    width: 25px;
    height: 25px; 
    
    box-sizing: border-box;
    background-color: aliceblue;
    
    border: 5px solid slategray;
    border-radius: 50%;
}

